@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;600&display=swap');

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Poppins", sans-serif;
     color: #D5CDCD;
}

html,
body {
     height: 100%;
     display: flex;
     flex-direction: column;
     overscroll-behavior: none;
}

.background-image,
#entry-screen {
     background-image: url("../img/background.png");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     height: 100vh;
     width: 100%;
     position: fixed;
     z-index: -1;
}

#entry-screen {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 100vh;
     text-align: center;

     background: rgba(0, 0, 0, 0.5);
     box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4), inset 0px 4px 6px rgba(0, 0, 0, 0.4);
     backdrop-filter: blur(5px);

     position: relative;
     z-index: 1;
}

#start-button {
     margin-top: 50px;
     height: 60px;
     display: flex;
     align-items: center;
     justify-content: center;

     transform-origin: center;

     padding: 12px 24px;
     font-size: 1.2rem;
     background-color: #9546C9;
     color: white;
     border: none;
     border-radius: 12px;
     cursor: pointer;
     transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;

     z-index: 2;
}

#start-button:hover {
     background-color: #7a36a5;
     transform: scale(1.02);
     border: 3px solid #d5cdcd;
     filter: brightness(110%);
}

#entry-screen h1 {
     margin: 5px;
     font-weight: 800;
     font-size: 60px;
     display: flex;
     align-items: center;
     text-align: center;
     color: #D5CDCD;
     text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     line-height: 1;
}

#entry-screen h2 {
     margin: 5px;
     font-family: 'Figtree';
     font-weight: 500;
     font-size: 24px;
     display: flex;
     align-items: center;
     text-align: center;
     color: #D5CDCD;
     text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.streak-counter {
     position: absolute;
     right: 20px;
     top: 126px;
     z-index: 10;
     width: 102px;
     height: 50px;

     background: rgba(0, 0, 0, 0.41);
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
          inset 0px 4px 4px rgba(0, 0, 0, 0.25);
     backdrop-filter: blur(50px);
     border-radius: 100px;

     display: flex;
     align-items: center;
     justify-content: center;

     gap: 10px;
     padding: 0 10px;
     margin: 10px;
}

.streak-counter p {
     height: 33px;
     width: 33px;
     font-weight: 600;
     font-size: 20px;
     line-height: 30px;
     display: flex;
     align-items: center;
     text-align: center;
     text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
     line-height: 1;
}

.streak-counter img {
     width: 33px;
     height: 33px;
     filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}

.avatar-container {
     position: absolute;
     width: 193px;
     height: 193px;
     left: 20px;
     top: 30px;
}

.avatar-bubble-chat {
     position: absolute;
     top: 60px;
}

.bubble-chat {
     position: absolute;
     left: 200px;
     top: 60px;

     display: inline-block;
     padding: 10px 20px;

     background: rgba(213, 205, 205, 0.41);
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
          inset 0px 4px 4px rgba(0, 0, 0, 0.25);
     backdrop-filter: blur(50px);
     border-radius: 100px;

     white-space: nowrap;
     overflow: hidden;
}

.bubble-tail-large,
.bubble-tail-small {
     position: absolute;
     background: rgba(213, 205, 205, 0.41);
     box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
     backdrop-filter: blur(50px);
     border-radius: 50%;
}

.bubble-tail-large {
     width: 20px;
     height: 20px;
     left: 180px;
     top: 50px;
}

.bubble-tail-small {
     width: 10px;
     height: 10px;
     left: 165px;
     top: 40px;
}

.bubble-text {
     font-weight: 500;
     font-size: 16px;
     line-height: 24px;
     display: flex;
     align-items: center;
     text-align: center;
     user-select: none;
}

.main-container {
     margin-top: 160px;
     padding: 15px;
     width: 100%;
     max-width: 100%;

     display: flex;
     flex-direction: column;
     align-items: center;
     position: relative;

     user-select: none;
}

.number-question {
     width: 80px;
     height: 45px;
     background: #1e1e1e;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 100px;

     background: #1e1e1e;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 100px;

     display: flex;
     justify-content: center;
     align-items: center;

     z-index: 2;
     position: relative;
     margin-bottom: -20px;
}

.number-question p {
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     text-align: center;
     letter-spacing: 0.05em;
     margin: 0;
     line-height: 1;
     transform: translateY(1px);
     text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

.question-box {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;

     width: 100%;
     height: 305px;

     background: rgba(0, 0, 0, 0.41);
     box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
     backdrop-filter: blur(50px);
     border-radius: 24px;

     z-index: 1;
     position: relative;
}

.question-text {
     font-size: 1.5rem;
     color: white;
     padding: 20px;
}

.timer-bar {
     width: 100%;
     max-width: 100%;
     height: 20px;
     margin: 10px 0;
     padding: 8px;

     background: rgba(0, 0, 0, 0.41);
     box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 100px;

     display: flex;
     align-items: center;
}

.timer-fill {
     width: 100%;
     height: 10px;

     box-shadow: 4px 0px 13.9px rgba(0, 0, 0, 0.25);
     border-radius: 100px;
     background-color: white;

     transform: scaleX(0);
     transform-origin: left;
     transition: transform 10s linear, background-color 0.5s ease-in-out;
}

/* Color states */
.timer-fill.white {
     background-color: #D5CDCD;
}

.timer-fill.orange {
     background-color: #B95A0C;
}

.timer-fill.red {
     background-color: #AC0C0C;
}

.options-con {
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     max-width: 100%;
     padding: 10px;
     background: rgba(0, 0, 0, 0.41);
     box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
     backdrop-filter: blur(50px);
     border-radius: 24px;

     box-sizing: border-box;
     flex-wrap: wrap;

     gap: 10px;
}

.option-box {
     flex: 1 1 200px;
     height: auto;

     background: rgba(213, 205, 205, 0.7);
     box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.25);
     border-radius: 18px;

     min-height: 200px;

     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;

     box-sizing: border-box;

     color: #1e1e1e;
     font-weight: 600;
     padding: 10px;
     border: 3px solid transparent;

     cursor: pointer;
     transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.option-box:hover {
     transform: scale(1.02);
     border: 3px solid #d5cdcd;
     filter: brightness(110%);
     box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.4);
}

.options-con .option-box:nth-child(1) {
     background-color: #C9A246;
}

.options-con .option-box:nth-child(2) {
     background-color: #C96146;
}

.options-con .option-box:nth-child(3) {
     background-color: #C94685;
}

.options-con .option-box:nth-child(4) {
     background-color: #9546C9;
}

.buttons-con {
     display: flex;
     justify-content: space-between;
     align-items: center;

     width: 100%;
     max-width: 100%;
     height: 100px;
     padding: 10px;
     margin-top: 90px;

     background: rgba(0, 0, 0, 0.41);
     box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
     backdrop-filter: blur(50px);
     border-radius: 24px;
     box-sizing: border-box;
     flex-wrap: wrap;
}

#countdown-overlay {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.8);
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 9999;
}

#countdown-number {
     font-size: 8rem;
     color: white;
     animation: pop 1s ease-in-out infinite;
     transition: all 0.3s ease;
     transform: scale(1);
}

@keyframes pop {
     0% {
          transform: scale(1);
          opacity: 1;
     }

     100% {
          transform: scale(1.5);
          opacity: 0;
     }
}